<% @ranking.each.with_index(1) do |tweet, i| %>

  <div align="center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= tweet.video %>" frameborder="0" allowfullscreen></iframe><br>
  </div>
 <div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="text-warning">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> No<%= i %>
    </h4>
    <h3 class="panel-title"><%= tweet.title %></h3>
  </div>
  
  <a href="/users/<%= tweet.user_id %>">
  <button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-user" 
  aria-hidden="true"></span> <%= tweet.user.nickname %>
  </button>
  </a>
  <%= link_to '詳細', "/tweets/#{tweet.id}", method: :get %>
 </div>
 <div class="panel panel-default">
<div class="panel-heading">投稿者コメント</div>
  <div class="panel-body">
     <%= simple_format(tweet.text) %>
   </div>
  </div>
 </div>
<% end %>